<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>48567116114-69tfn51bf9ruafbjjbiqf2ibmtt5ovmf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.48567116114-69tfn51bf9ruafbjjbiqf2ibmtt5ovmf</string>
	<key>API_KEY</key>
	<string>AIzaSyAuOkl_cM3KTAf0KWJ5AVgJphex-ysX6eY</string>
	<key>GCM_SENDER_ID</key>
	<string>48567116114</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kevin.Bookde</string>
	<key>PROJECT_ID</key>
	<string>bookdeuiproject</string>
	<key>STORAGE_BUCKET</key>
	<string>bookdeuiproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:48567116114:ios:fd528fbaf7ab754b631a8b</string>
</dict>
</plist>