<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>817948691991-4vkqrrunldaibn8cno338r2g663d0q8p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.817948691991-4vkqrrunldaibn8cno338r2g663d0q8p</string>
	<key>API_KEY</key>
	<string>AIzaSyDtwXwi89LBn_H6u857MoezcGJRKqLvcoY</string>
	<key>GCM_SENDER_ID</key>
	<string>817948691991</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kienphamdev.com.Bookde</string>
	<key>PROJECT_ID</key>
	<string>bookde-b2f28</string>
	<key>STORAGE_BUCKET</key>
	<string>bookde-b2f28.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:817948691991:ios:e82f012ceb1815f1</string>
	<key>DATABASE_URL</key>
	<string>https://bookde-b2f28.firebaseio.com</string>
</dict>
</plist>